table {
    border-collapse: collapse;
    margin: auto;
}

td, th {
    border: 2px solid black;
    padding: 8px;
}

th {
    background-color: green;
}

.total{
    background-color: yellow;
}

.foot-text {
    margin: auto;
    text-align: center;
    background-color: yellow;
}