@font-face {
    font-family: 'Alatsi';
    src: url('Alatsi-Regular.woff2') format('woff2'),
        url('Alatsi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcon';
    src: url('Arcon-Regular.woff2') format('woff2'),
        url('Arcon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

